.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'h h '
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  background-color: aqua;
  grid-area: h;
}
.header img{
  height: 35px;
}
.nav {
  background-color: blanchedalmond;
  grid-area: n;
}
.content {
  background-color: thistle;
  grid-area: c;
}