.dialogs{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dialogsItems{
    padding: 10px;
}

.active {
    color: gold;
}

.dialog{
    color: black;
    text-decoration: none;
}

.messages{
    padding: 10px;
}

.message{
    padding: 0px;
}