/* .sectionWrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1px;
}

.firstSections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
}

.otherSections{
   background-color: white;
}

.section{
    background-color: blue;
}
.content{
    background-color: blue;
} */

.shapeSection{
    display: grid;
    grid-template-columns:3fr 1fr ;
    padding: 0.5px;
    height: 70px;
}

.nameSection{
    display: grid;
    padding: 3px 4px;
    background-color: white;
}

.valueSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #ddd;
    gap: 1px;
}


.container{
    display: grid;
    background-color: #ddd;
    padding: 0.5px;
}
.container1{
    background-color: white;
    margin: 0.5px;
    padding: 4px 5px;
    
}
.container2{
    display: grid;
}
.container3{
    grid-column: span 2;
    display: grid;
    grid-column: 1/3;
}

.container4{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/3;
}


.grayStyle{
    font-style: italic;
    color: #999;
    padding: 0px 1px;
}

.nameStyle{
    font-weight: 650;
    padding: 0px 1px;
}

.value{
    background-color: white;
    height: 24.5px;
    text-align: center;
}